.holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  min-height: 100vh;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.bottom {
  padding: 1rem 0;
  width: 100%;
  display: flex;
}

.headText span {
  margin-right: 1rem;
  font-size: var(--headline4);
  line-height: var(--headline4_lineHeight);
  font-family: var(--font-head);
  user-select: none;
  cursor: pointer;
  color: var(--onBg900);
}

.headText span:hover {
  color: var(--onBg);
}

.headText span:not(.headText span:last-child)::after {
  content: ">";
  margin-left: 1rem;
  cursor: default;
  color: var(--onBg500);
}

@media (max-width: 500px) {
  .head {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .headRight {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    justify-content: flex-end;
  }
}
