.holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.progressHolder {
  background-color: var(--bg);
  width: 100%;
  border-radius: 10px;
  height: 0.7rem;
  overflow: hidden;
}

.progressBar {
  width: 0px;
  background-color: var(--primaryOnCon);
  height: 100%;
  transition: width 1s;
  transition-timing-function: ease-in-out;
}

.headText {
  font-family: var(--font-sub);
  width: 100%;
  padding: 0.3rem 0;
  color: var(--primaryOnCon800);
}

.bottomText {
  color: var(--primaryOnCon600);
}
